:root {
  --bg-color: #111;
  --text-color: #fff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

#navbar {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  background: #121212;
  height: 60px;
  border-radius: 10px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;

  padding: 10px;
}
.nav-left img {
  width: 100px;
  height: 100%;
  object-fit: contain;
}
.nav-center ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px;
  font-weight: bold;
  opacity: 0.6;
  margin-left: 25px;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;

  margin-right: 10px;
  padding: 15px;
  gap: 12px;
}

.nav-right button {
  padding: 5px 15px;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  color: #111;
  cursor: pointer;
  font-weight: bold;
}
.nav-right .black-btn {
  background-color: transparent;
  color: #fff;
  border: 0.5px solid rgba(255, 255, 255, 0.3);
}

#hero-container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

#hero-text {
  width: 60%;
  margin: 110px 110px 100px 110px;
}

#hero-text h1 {
  text-align: left;
  font-weight: 500;
  font-size: 1.8rem;
}

#hero-text .hero-btn {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background-color: #fff;
  color: #111;
  cursor: pointer;
  font-weight: normal;
  font-size: large;
}

#hero-image {
  width: 85%;
  margin: 0 auto;
}
#hero-image img {
  width: 100%;
  height: auto;
}

#logo-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  margin-top: 30px;
  padding: 15px;
}

#logo-text h3 {
  font-weight: normal;
  font-size: 1.2rem;
  margin-bottom: 20px;
}
#logo-container {
  width: 85%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  padding: 0 10px 30px 10px;
}

#logo-container img {
  width: 90px;
  height: auto;
  opacity: 1;
  color: #fff;
}

.img-logo-container {
  width: 100%;
  height: 100px;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181818;
  padding: 10px;
}

#big-card-Section {
  width: 85%;
  height: 650px;
  margin: 0 auto;
  padding: 20px 20px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181818;
  gap: 50px;
}
#big-card-Section h3 {
  font-weight: bold;
  font-size: 1.3rem;
  padding: 5px 0 5px 0;
}

#big-card-Section p {
  font-weight: normal;
  font-size: 1.2rem;
  opacity: 0.8;
}
.red-text {
  color: red;
}

.big-card-img-container {
  width: 70%;
  height: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #333;
}
.big-card-img-container img {
  width: 95%;
  height: 95%;
}
#big-card-Section-2 {
  width: 85%;
  height: 650px;
  margin: 0 auto;
  padding: 20px 20px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181818;
  gap: 50px;
}

.big-card-img-container-2 {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #333;
}
.big-card-img-container-2 img {
  width: 100%;
  height: 100%;
}

#big-card-Section-3 {
  width: 85%;
  height: 650px;
  margin: 0 auto;
  padding: 20px 20px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181818;
  gap: 50px;
}

.small-card-section {
  width: 85%;
  height: 650px;
  margin: 0 auto;
  padding: 20px 20px;
  margin-top: 90px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: #333;
  flex-direction: column;
  gap: 50px;
}
.small-card-container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  width: 100%;
  height: 100%;
  gap: 20px;
}

.card {
  width: 100%;
  height: 100%;
  background-color: #222;
  position: relative;
  border-radius: 10px;
}
.small-card-section h2 {
  font-weight: normal;
  font-size: 2.5rem;
  padding: 10px 5px 10px 5px;
}

.card p {
  font-weight: normal;
  font-size: 1.1rem;
  opacity: 0.8;
  padding: 15px;
}

.card img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 5px;
}

.card .ceo {
  position: absolute;
  bottom: 0;
  left: 60px;
  font-size: 1rem;
}
.card img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

#long-card-section {
  width: 85%;
  height: 600px;
  margin: 80px auto 0;
  padding: 20px;

  display: grid;
  grid-template-rows: 50px 1fr;
}

.long-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  height: 100%;
}

.long-card {
  background-color: #222;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#long-card-section h2 {
  font-size: normal;
  font-weight: bold;
  margin: 0 10px 10px 10px;
}
.long-card h3 {
  font-size: 1rem;
  font-weight: bold;
  margin: 20px 10px 5px 10px;
}
.long-card p {
  font-size: 1rem;
  font-weight: normal;
  margin: 0px 10px 10px 10px;
  opacity: 0.8;
}
.long-card-red-text {
  color: red;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
  font-size: 100px;
}

.long-card-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.long-card-image-container img {
  width: 95%;
  height: 95%;
  object-fit: contain;
}

#changelog-section {
  width: 85%;
  margin: 80px auto 0;
  padding: 20px;

  display: grid;
  grid-template-rows: 50px 1fr auto;
}
#changelog-section h2 {
  font-size: normal;
  font-weight: bold;
  margin: 0 10px 10px 0;
}
#changelog-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
  width: 100%;
  justify-items: center;
  gap: 10px;
}

.changelog-card {
  width: 100%;
  height: 100%;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  flex-direction: column;
  position: relative;
}
.changelog-card span {
  position: absolute;
  top: 5px;
  left: 20px;
  font-size: 1rem;
  color: #fff;
  border: 1px solid #fff;
  padding: 0px 10px;
  border-radius: 20px;
  margin-top: 5px;
}

.changelog-card time {
  position: absolute;
  top: 5px;
  left: 30%;
  font-size: 1rem;
  color: #fff;
  margin-top: 5px;
}
.changelog-card p {
  font-size: 1rem;
  color: #fff;
  opacity: 0.8;
  padding: 20px;
  margin-top: 25px;
}
.last-p-of-changelog {
  font-size: 1.1rem;
  margin-top: 20px;
}

#last-card-section {
  width: 85%;
  height: 500px;
  margin: 0 auto;
  padding: 20px 20px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181818;
  gap: 50px;
}

#last-card-section p {
  font-weight: bold;
  margin: 0 10px 10px 10px;
  font-size: 1.2rem;
}
#highlights-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 120px 0;
  background: #1a1a1a;
}
#highlights {
  width: 85%;
  max-width: 1100px;
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 40px;
}
.tag {
  color: #fff;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 1.2rem;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.highlight-card {
  background: #222;
  padding: 24px;
  border-radius: 8px;
}

.card h3 {
  margin: 0 0 8px;
  color: #fff;
}

.card p {
  margin: 0 0 16px;
  color: #bbb;
  line-height: 1.5;
}

.meta {
  font-size: 0.85rem;
  color: #888;
}

#cta {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(
    circle at center,
    #38301b 0% ,
    #16140e 60%,
    #0f0e09 100%
  );
}

.cta-content {
  text-align: center;
}

.cta-content h2 {
  font-size: 3.5rem;
  font-weight: 500;
  color: #fff;
  margin-bottom: 30px;
}
.cta-btn {
  background: #fff;
  color: #000;
  border: none;
  padding: 14px 26px;
  border-radius: 999px;
  font-size: 1rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.cta-btn:hover {
  opacity: 0.9;
}

.cta-content {
  animation: fadeInUp 0.8s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
