:root{
    --bg-color:#111;
    --text-color:#fff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#container{
    width:100%;
    height:100vh;
    background-color:#111;
    color:var(--text-color);
   
}

#navbar{
    display:flex;
    justify-content:space-between;
    width: 90%;
    margin:0 auto;
    background:#121212;
    border: 1px solid red;
    height: 50px;
    border-radius: 10px;
    position: sticky;
    top:0;
    
}
.nav-center ul{
    display:flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;  
    align-items: center;
    justify-content: center;
    height: 100%;    
    
}


