:root {
  --bg-color: #111;
  --text-color: #fff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);

  
}

#navbar {
  display: flex;
  justify-content: space-between;
  width:90%;
  margin: 0 auto;
  background: #121212;
  height: 60px;
  border-radius: 10px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;

  padding: 10px;
}
.nav-left img {
  width: 100px;
  height: 100%;
  object-fit: contain;
}
.nav-center ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10px;
  font-weight: bold;
  opacity: 0.6;
  margin-left: 25px;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;

  margin-right: 10px;
  padding: 15px;
  gap: 12px;
}

.nav-right button {
  padding: 5px 15px;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  color: #111;
  cursor: pointer;
  font-weight: bold;
}
.nav-right .black-btn {
  background-color: transparent;
  color: #fff;
  border: 0.5px solid rgba(255, 255, 255, 0.3);
}


#hero-container {
width: 100%;
margin:0 auto;
  
}

#hero-text{
  width: 60%;
  margin: 110px 110px 100px 110px;  
}

#hero-text h1{
  text-align:left ;
  font-weight: 500;
  font-size: 1.8rem;
}

#hero-text .hero-btn{
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background-color: #fff;
  color: #111;
  cursor: pointer;
  font-weight: normal;
  font-size: large;
}

#hero-image{
  width: 85%;
  margin: 0 auto;

}
#hero-image img{
  width: 100%;
  height: auto;
  
}


